# Puerto del servidor
PORT=5000

# Contraseña maestra (acceso absoluto desde variable de entorno)
MASTERKEY=supersecret

# Contraseñas de profesores
# Formato: username:password:Nombre Completo,username2:password2:Nombre Completo 2
# Ejemplo: pablo:MiClave123:Pablo Fernandez,carlos:OtraClave456:Carlos Muller
PROF_PASSWORDS=profesor:MiClave123:Profesor Profesorez,profesor2:OtraClave456:Profesorando Profesarez
